# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
.venv/
env/
ENV/

# Environment variables
.env

# Pipenv
pip-wheel-metadata/

# Logs
logs/

# Generated reports
reports/

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db